<!-- micro-frontend/lit -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{titleCase name}}</title>
    <script type="module" src="/index.ts"></script>
  </head>
  <body>
    <{{dashCase name}}>
      <p>This is child content</p>
    </{{dashCase name}}>
  </body>
</html>
