// component/preact
type Props = {
};

export function {{properCase name}}({}: Props) {
  return (
    <>
      <style>{`
        :host {
          display: block;
        }
      `}</style>
      <section>
        <h1>{{titleCase name}}</h1>
      </section>
    </>
  );
}
